ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px 10px;
}

.logo > img {
    width: 150px;
}

.marginRightAuto {
    margin-right: auto;
}

.header {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(234, 234, 234);

}

.dropDownMegaMenu  {
    position: absolute;
    right: 510px;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    background-color: rgba(23, 26, 36, 0.949);
    width: 400px;
    color: white;
    height: 300px;
    top: 60px;
    display: none;
    border-radius: 4px;
}

.dropDownMegaMenu > ul > li {
    display: block;
}

.dropDownMegaMenu > ul >li:hover {
    background-color: rgb(69, 72, 80);
}

.megaMenu:hover .dropDownMegaMenu  {
    display: block;
}