 @font-face {
     font-family: "HedvigLettersSans-Regular";
     src: local("HedvigLettersSans-Regular"), url("./assets/fonts/HedvigLettersSans-Regular.ttf"), format("truetype");
 }

 :root {
    --primaryColor: rgb(255, 255, 255);
    --textColor: black;
    --linkColor: gray;
 }

 * {
   box-sizing: border-box;
 }

 a {
    text-decoration: none;
    color: var(--textColor);
 }

 ul {
   list-style: none;
 }

 body {
    font-size: 14px;
    font-family: "HedvigLettersSans-Regular";
    background-color: var(--primaryColor);
    color: var(--textColor);
    margin: 0;
    padding: 0;
    line-height: 1.8;
 }